{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}
    <script src="/static/uikit/js/components/pagination.js"></script>
    <script>
        var blogs;
        var page;
        function procBlogs(results) {
            blogs = results['blogs'];
            page = results['page'];
            var blogHtml = '';
            for (var i = 0, len = blogs.length; i < len; i++) {
                var blog = blogs[i];
                blogHtml += '<tr id="blog:{0}">'.format(blog.id);
                blogHtml += '<td><a target="_blank" href="/blog/{0}">{1}</a></td>'.format(blog.id, blog.name);
                blogHtml += '<td><a target="_blank" href="/user/{0}">{1}</a></td>'.format(blog.user_id, blog.user_name);
                blogHtml += '<td><span>{0}</span></td>'.format(blog.created_at.toDateTime());
                blogHtml += '<td>';
                blogHtml += '<a href="#0" index="{0}" onclick="edit_blog(this)"><i class="uk-icon-edit"></i></a>'.format(i);
                blogHtml += '<a href="#0" index="{0}" onclick="delete_blog(this)"><i class="uk-icon-trash-o"></i></a>'.format(i);
                blogHtml += '</td>';
                blogHtml += '</tr>';
            }
            $('tbody').html(blogHtml);

            // 添加分页
            var pageHtml = '<ul class="uk-pagination" data-uk-pagination="{items:{0}, itemsOnPage:{1}, displayedPages:10"></ul>'.format(page.item_count, page.page_size);
            $('#vm').remove(".uk-pagination");
            $('#vm').append(pageHtml);

            // 注册点击分页事件
            $('[data-uk-pagination]').on('select.uk.pagination', function (e, pageIndex) {
                onChangePage(pageIndex + 1);
            });
        }

        function edit_blog(which) {
            var index = parseInt($(which).attr('index'));
            var blog = blogs[index];
            location.assign('/manage/blogs/edit?id=' + blog.id);
        }

        function delete_blog(which) {
            var index = parseInt($(which).attr('index'));
            var blog = blogs[index];
            if (confirm('确认要删除“' + blog.name + '”？删除后不可恢复！')) {
                postJSON('/api/blogs/' + blog.id + '/delete', function (err, r) {
                    if (err) {
                        return alert(err.message || err.error || err);
                    }
                    refresh();
                });
            }
        }

        function onChangePage(index) {
            alert('You have selected page: ' + index);
        }

        $(function () {
            getJSON('/api/blogs', {
                page: {{ page_index }}
            }, function (err, results) {
                if (err) {
                    return fatal(err);
                }
                else {
                    procBlogs(results);
                }
                $('#loading').hide();
            });

            $('#vm').show();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/comments">评论</a></li>
                <li class="uk-active"><span>日志</span></li>
                <li><a href="/manage/users">用户</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1">
        <a href="/manage/blogs/create" class="uk-button uk-butoon-primary"><i class="uk-icon-plus"></i>新日志</a>
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-5-10">标题/摘要</th>
                    <th class="uk-width-2-10">作者</th>
                    <th class="uk-width-2-10">创建时间</th>
                    <th class="uk-width-1-10">操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}